<!---->
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A real estate web site what you can find house for sell or rent i africa ">
    <title>Syfters | About</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg' %}" type="image/x-icon">
</head>
<body class="container">
    <header class="header home">
        <div class="nav">
            <div class="nav__logo">
                <a href = "/">    
                    <img src=" {% static 'images/logo.jpeg'%}" alt="logo" class="logo-img">
                </a>
            </div>
            <div class="nav__items">
                <ul class="nav__list">
                    <li class="nav__link"><a href="/">home</a></li>
                    <li class="nav__link"><a href="/portfolio">portfolio</a></li>
                    <li class="nav__link"><a href="/contacts">contacts</a></li>
                    <li class="nav__link"><a href="/news">news</a></li>
                    <li class="nav__link"><a href="/about">about</a></li>
                </ul>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>    
        </div>
        <div class="text-box">
            <h1 class="main-heading">
                <span class="primary-heading">Syfters</span>
                <span class="sub-heading">About | terms & conditions | policies</span>
             </h1>
            
        </div>
        
    </header>

     <section class="about">
        <div class="about__img-box"></div>
        <div class="about__text-box scrollAppear">
            <h2 class="section-heading">who are we?</h2>
            <p class="about__paragraph">
                Syfters is a real estate company that's specialized on sell, renting, buying and renovating house,
                it's located in the Gambia and has over 200 properties in the market. Absolute estate has been in the real 
                estate business for over 30 years and satisfying over one thousand clients.
            <p class="about__paragraph">
                Syfters is open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.
            </p>
        </div>
    </section>

    <section class="team">
        <h2 class="section-heading team__heading">expert team</h2>
        <div class="staffs">
            {%for about in products%}
                <div class="staff">
                        <div class="staff__info-box">
                            <div class="staff__img-box">
                                <img src="{{about.image.url}}" alt="" class="staff__img">
                            </div>
                            <h3 class="staff__name">
                                {{about.name}}
                            </h3>
                            <p class="staff__role">
                                {{about.position}}
                            </p>
                        </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="about">
        {% comment %} <div class="about__img-box"></div> {% endcomment %}
        <div class="about__text-box scrollAppear">
            <h2 class="section-heading">terms and conditions</h2>
            <p class="about__paragraph">
                Syfters is a real estate company that's specialized on sell, renting, buying and renovating house,
                it's located in the Gambia and has over 200 properties in the market. Absolute estate has been in the real 
                estate business for over 30 years and satisfying over one thousand clients.
            
                Syfterrs is open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.

                Syfters is open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.

                Syfters open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.

                Syfters is open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.
            </p>
        </div>
    </section>

    <section class="about">
        {% comment %} <div class="about__img-box"></div> {% endcomment %}
        <div class="about__text-box scrollAppear mini-margin">
            <h2 class="section-heading">policies</h2>
            <p class="about__paragraph">
                Syfters is a real estate company that's specialized on sell, renting, buying and renovating house,
                it's located in the Gambia and has over 200 properties in the market. Absolute estate has been in the real 
                estate business for over 30 years and satisfying over one thousand clients.
                Absolute estate is open to both national and international contractors, We have worked with more than 10 companies
                from african alone and looking forward more challenges in the future.
            </p>
        </div>
    </section>

    
    <footer class="footer">
        <h3 class="footer__heading">absolute estate makes you feel at home</h3>
        <div class="footer__box">
            <ul class="footer__item">
                <li><a href="/about" class="footer__link"> terms and services</a></li>
                <li><a href="/about" class="footer__link">policy</a></li>
                <li><a href="/about" class="footer__link"> security </a></li>
                <li><a href="/about" class="footer__link"> sitemap </a></li>
            </ul>
        </div>
        <div class="footer-social-media">
            <a href="facebook.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
            <a href="twitter.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
            <a href="youtube.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-youtube"></use>
                </svg>
            </a>
        </div>
        <p class="copyright">
            copyright &copy; <span id="date">2021</span>
        </p>
    </footer>
     <script src="{% static 'js/properties.js'%}"></script>
</body>
</html>