{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Syfters let's build your dream house">
    <title>Syfters | details</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg' %}" type="image/x-icon">
</head>
<body class="container">
   
    <section class="details">

        <a href = "/portfolio" class="btn btp">back to portfolio</a>
        <div class="details__container ">
            <div class="details__images">
                <div class="details__images--main">
                    <img src=" {{eachproduct.thumbnail_1.url}}" alt="images" class="details__images--main-img " id="featured">
                </div>
                <div class="details__images--sub">
                    <div class="details__images--sub-box ">
                        <img src="{{eachproduct.thumbnail_1.url}}" alt="images" class="sub--img thumbnail">
                    </div>
                    <div class="details__images--sub-box">
                        <img src="{{eachproduct.thumbnail_2.url}}" alt="images" class="sub--img thumbnail">
                    </div>
                    <div class="details__images--sub-box">
                        <img src="{{eachproduct.thumbnail_3.url}}" alt="images" class="sub--img thumbnail">
                    </div>
                    <div class="details__images--sub-box">
                        <img src="{{eachproduct.thumbnail_4.url}}" alt="images" class="sub--img thumbnail">
                    </div>
                </div>
            </div>
            <div class="details__text">
                <div class="section-heading">description</div>
                <h2 class="details__text--title">{{eachproduct.name}}</h2>
                <p class="details__text--para">{{eachproduct.description}}</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <h3 class="footer__heading">absolute estate makes you feel at home</h3>
        <div class="footer__box">
            <ul class="footer__item">
                <li><a href="/about" class="footer__link"> terms and services</a></li>
                <li><a href="/about" class="footer__link">policy</a></li>
                <li><a href="/about" class="footer__link"> security </a></li>
                <li><a href="/about" class="footer__link"> sitemap </a></li>
            </ul>
        </div>
        <div class="footer-social-media">
            <a href="facebook.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
            <a href="twitter.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
            <a href="youtube.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-youtube"></use>
                </svg>
            </a>
        </div>
        <p class="copyright">
            copyright &copy; <span id="date">2021</span>
        </p>
    </footer>
     <script src="{% static 'js/app.js'%}"></script>
</body>
</html>
