{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syfters | news</title>
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg' %}" type="image/x-icon">
    <meta name="description" content="Syfters let's build your dream house">
</head>
<body class="container">
    <header class="header news-bk">
        <nav class="nav">
            <div class="nav__logo">
                <a href = "/">    
                    <img src=" {% static 'images/logo.jpeg'%}" alt="logo" class="logo-img">
                </a>
            </div>
            <div class="nav__items">
                <ul class="nav__list">
                    <li class="nav__link"><a href="/">home</a></li>
                    <li class="nav__link"><a href="/portfolio">portfolio</a></li>
                    <li class="nav__link"><a href="/contacts">contacts</a></li>
                    <li class="nav__link"><a href="/news">news</a></li>
                    <li class="nav__link"><a href="/about">about</a></li>
                </ul>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>     
        </nav>
        
        <div class="text-box">
            <h1 class="main-heading">
                <span class="primary-heading">Syfters</span>
                <span class="sub-heading">syfters news and blogs</span>
             </h1>    
        </div>
    </header>

    
    <article class="news">
        <h2 class="section-heading news__h2">news</h2>
        <div class="news__container">
        {% if products%}
            {% for new in products%}
                <div class="news__img-box--1">
                    <img src="{{new.image.url}}" alt="" class="project__img">
                </div>
                <div class="news__text-box">
                    <h2 class="news__heading">{{new.title}}</h2>
                    <div class="time-post">
                        <p>{{new.time}}</p> 
                    </div>
                    <p class="news__paragraph">
                        {{new.content}} 
                    </p>
                </div>
            {% endfor %}
            {% else %}
                <p class ="no_products"> NO NEWS AVAILABLE</p>
            {%endif%}
        </div>
    </article>

    <article class = "news" >
        <ul class="pagination_news">
            {% for i in paginator.page_range %}
                <li class="page-item {% if i == page_number%} pagination_active{% endif %}">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                <li>
            {%endfor%}
        </ul>
    </article>


    <footer class="footer">
        <h3 class="footer__heading">absolute estate makes you feel at home</h3>
        <div class="footer__box">
            <ul class="footer__item">
                <li><a href="/about" class="footer__link"> terms and services</a></li>
                <li><a href="/about" class="footer__link">policy</a></li>
                <li><a href="/about" class="footer__link"> security </a></li>
                <li><a href="/about" class="footer__link"> sitemap </a></li>
            </ul>
        </div>
        <div class="footer-social-media">
            <a href="facebook.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
            <a href="twitter.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-twitter"></use>
                </svg>
            </a>
            <a href="youtube.com">
                <svg class="footer-social-media--icon">
                    <use xlink:href ="images/sprite.svg#icon-youtube"></use>
                </svg>
            </a>
        </div>
        <p class="copyright">
            copyright &copy; <span id="date"></span>
        </p>
    </footer>
        <script src="{% static 'js/properties.js'%}"></script>
</body>
</html>